<%- include('includes/header')%>
<body>
    <div>
        <div>PRODDUCTS PAGE</div>
        <div><%=member.memberNick%></div>

        <% products.map(function(value, key){ %>
            <p><%= value.productName %> - <%= value.productSize %></p>
        <% }); %>
    </div>
</body>
<%- include('includes/footer')%>